<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.davidmedenjak.auth.okhttp">

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22"/>
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22"/>
</manifest>
